---
import Header from "./Header.astro";
import Spinner from "./Spinner.astro";
---

<style>
    #fragment {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #fragment img {
        height: 0;
        object-fit: contain;
        margin: 0 auto;
        z-index: 1;
    }

    .form {
        height: 50%;
        max-width: 400px;
        max-height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
        width: 100%;
        height: fit-content;
        text-align: center;
        color: #78CAD5;
        font-size: 1.5em;
    }

    .button {
        width: 40%;
        height: 50px;
        background-color: rgba(32, 58, 67, 0.5);
        color: white;
        border: none;
        border-radius: 8px;
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }
    .button:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 1px 1px black;
        background-color: rgb(32, 58, 67);
    }

    .input {
        border: 1px solid black;
        border-radius: 100px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 95%;
    }
</style>

<div id="fragment">
    <Header title="ViSC8"/>
    <form id="imageForm" method="POST" class="form">
        <h2>Favor de insertar el link para el análisis</h2>
        <input id="formInput" name="shingeSumare" type="url" placeholder="Url" required class="input" id="imageUrl">
        <button class="button" type="submit">Submit</button>
    </form>
    <img
        id="image"
        src={null}
        alt=""
    >
    <Spinner />
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const imageForm: HTMLFormElement = document.getElementById("imageForm") as HTMLFormElement;
        const spinner: HTMLDivElement = document.getElementById("spinner") as HTMLDivElement;
        const formInput: HTMLInputElement = document.getElementById("formInput") as HTMLInputElement;

        imageForm.addEventListener("submit", async(event: SubmitEvent): Promise<void> => {
            event.preventDefault();
            spinner.style.display = "block";

            const formData: FormData = new FormData(imageForm);
            const urlForm: FormDataEntryValue  = formData.get("shingeSumare") as FormDataEntryValue;
            formInput.value = "";

            try {
                const response: Response = await fetch("http://localhost:8083/Analize", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ url: urlForm })
                });

                if(response.ok) {
                    const blob: Blob = await response.blob();
                    const imageUrl: string = URL.createObjectURL(blob);

                    const imageContainer: HTMLImageElement = document.getElementById("image") as HTMLImageElement;
                    imageContainer.style.height = "400px";
                    imageContainer.src = imageUrl;
                    imageContainer.alt = "Analized Image";
                } else {
                    console.error("Error en la solicitud:", response.statusText);
                }
            }catch(error) {
                console.error("Error en la solicitud:", error);
            }finally {
                if(spinner) spinner.style.display = "none";
            }
        });
    });
</script>
